* { 
    box-sizing: border-box; 
   
} 
#head { 
    display: block; 
    text-align: center; 
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    
 font-size:30px;
  font-family: "Titan One", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #c08be6ff;
}


.hidden { 
    display: none !important; 
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-image:url("diamonds.png");
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    margin: 0;
}

#app { width: 100%; max-width: 500px; }


.card { 
   
    background: #904bbeff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
}

.card input { 
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

button { 
    width: 100%; 
    padding: 10px; 
    background:#c08be6ff;
    color:black ;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold;
}

button:hover { background: #be71f1ff; }

#chat-container { 
    background: white; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.header {
    padding: 15px;   
    background:#904bbeff;
    color: white;
    text-align: center;
}

#messages { 
    flex: 1; 
    padding: 20px; 
    overflow-y: auto; 
    background: #fdfdfd;
}

.msg { margin-bottom: 12px; line-height: 1.4; }
.msg b { color: #89986D; }

.input-area {
    display: flex; 
    padding: 15px;
    background: #fff;
    border-top: 1px solid #eee;
    gap: 10px;
}

#msg-input {
    flex: 1; 
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
}

#msg-input:focus { border-color: #9CAB84; }

.input-area button {
    width: auto; 
    padding: 0 20px;
    border-radius: 25px;
}

#admin-panel { 
    background: #fff3cd; 
    padding: 10px 15px; 
    border-bottom: 1px solid #ffeeba; 
    font-size: 14px;
}

.btn-small{
    width:50%;
}

.box{
    display:flex;
    justify-content:center;
    gap:3vw;
    margin:2vw;
}

#app { 
    width: 90%; 
    max-width: 1000px; 
}

.lobby-cards {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 20px; 
    width: 100%;
}

.card {
    flex: 1;
    background: #904bbeff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 450px; 
}

@media (max-width: 768px) {
    .lobby-cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
    }
}

h3{
    display: block; 
    text-align: center; 
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white; 
}


